#banner {
    background-color: #473676;
    height: 200px;
    text-align: center;
    color: antiquewhite;
}

h1 {
    margin: 0px;
    line-height: 200px;

}

h2 {
    color: #3c2552;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #d4afd8;
}

.bodyText {
    color: #3c2552;
}


#navBar ul {
    padding: 0px;
    margin: 0 auto;
    list-style-type: none;
    background-color: inherit;
    text-align: center;
}
  
#navBar li {
    display: inline;
}

li a {
    display: inline-block;
    color: #3c2552;
    padding: 20px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
#navBar li a:hover {
    opacity: 0.7;
}


#copyright {
    color: #3c2552;
}